header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 30px;
}

.header-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 100px;
}

.header-list {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-right: 110px;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    height: 500px;
}

.hero-text {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-top: -50px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    max-width: 350px;
    margin-bottom: -15px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    opacity: 80%;
}

.hero-sub {
    max-width: 450px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    border: none;
    font-weight: bold;
}

#hero-image {
    display: flex;
    width: 325px;
    border: none;
    background-color: #708090;
    margin-left: 600px;
    margin-top: -350px;
}

.information {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

#info-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 0 auto;
}

.info-images {
    display: flex;
    flex: auto;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between;

}

.image-row {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #1F2937;
    justify-content: space-between;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 80px;
    line-height: 1.25cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#quote {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    letter-spacing: 0.05em;
    margin-left: 200px;
}

#quote-author {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #1F2937;
    font-size: 26px;
}

.cta {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.cta-title {
    font-size: 24px;
    font-weight: bold;
}

.cta-button {
    border:2px solid #F9FAF8;
    border-radius: 5px;;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: thin;
    padding: 20px;
}